@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #B8926A   ;
}

h1 {
  text-align: center;
  font-size: 50px;
  
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

ul {
  list-style-type: none;
  padding: 25px 50px 75px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
}

li {
  margin-bottom: 10px;

}

.cart{
  width: 20px;
  height: 20px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.product-card {
  border: 2px solid #B8926A; /* สีของขอบ */
  border-radius: 15px; /* ทำให้ขอบนุ่มนวล */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* เงา */
  transition: transform 0.3s, box-shadow 0.3s; /* เพิ่มการเปลี่ยนแปลง */
}

.product-card:hover {
  transform: scale(1.05); /* ขยายเมื่อโฮเวอร์ */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* เพิ่มความเข้มข้นของเงา */
}


